@model SchoolApp.ViewModels.GroupInstanceDeleteViewModel
@using (Ajax.BeginForm(
    "Delete",
    "GroupInstance",
    new AjaxOptions
    {
        UpdateTargetId = "update-message",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "Post",
        OnSuccess = "updateSuccess"
    },
    new { @id = "deleteGroupInstanceForm" }))
{
<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>GroupInstance</legend>
    @Html.Hidden("RemoveInstance")
    @Html.HiddenFor(x=>x.StartDate)
    @Html.HiddenFor(x=>x.EndDate)
    <div id="update-message"></div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.GroupInstance.StartDateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GroupInstance.StartDateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GroupInstance.EndDateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GroupInstance.EndDateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GroupInstance.Group.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GroupInstance.Group.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GroupInstance.Classroom.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GroupInstance.Classroom.Name)
    </div>
</fieldset>

}
