@model SchoolApp.Models.GroupInstance

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>GroupInstance</legend>
    <div id="update-message"></div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Group.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Group.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Classroom.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Classroom.Name)
    </div>
</fieldset>
@using (Ajax.BeginForm(
    "Delete",
    "GroupInstance",
    new AjaxOptions
    {
        UpdateTargetId = "update-message",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "Post",
        OnSuccess = "updateSuccess"
    },
    new { @id = "deleteGroupInstanceForm" }))
{
}
