@model SchoolApp.Models.GroupInstance

@using (Ajax.BeginForm(
    "Edit",
    "GroupInstance",
    new AjaxOptions
    {
        UpdateTargetId = "update-message",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "Post",
        OnSuccess = "updateSuccess"
    },
    new { @id = "editGroupInstanceForm" }))
{
    @Html.ValidationSummary(true)
    <div id="update-message"></div>

        @Html.HiddenFor(model => model.GroupInstanceId)
        <div class="editor-label">
            @Html.LabelFor(model => model.StartDateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDateTime)
            @Html.ValidationMessageFor(model => model.StartDateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDateTime)
            @Html.ValidationMessageFor(model => model.EndDateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GroupId, "Group")
        </div>
        <div class="editor-field">
            @Html.DropDownList("GroupId", String.Empty)
            @Html.ValidationMessageFor(model => model.GroupId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClassroomId, "Classroom")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ClassroomId", String.Empty)
            @Html.ValidationMessageFor(model => model.ClassroomId)
        </div>
    <div class="editor-label">
            Повторение
        </div>
        <!-- Make a text area for the RRULE, which also works as a non-javascript fallback -->
    @Html.TextAreaFor(model=>model.RecurrenceRule)
        <!-- Make the text area a recurrenceinput -->
        <script type="text/javascript">
            $(document).ready(function () {
                $("#RecurrenceRule").recurrenceinput({
                    firstDay: 1
                });
            });
           
        </script>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
