@model SchoolApp.ViewModels.GroupInstanceViewModel

@{
    ViewBag.Title = "Расписание";
}
<style type="text/css">
    .fullscreen {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 99;
        background-color: #ffffff;
    }
    .teacherLabel {
    cursor: context-menu;
    }
    .teacherLabel:hover {
     text-decoration:underline;
     cursor:pointer;
    }
    .draggableGroup {
        cursor:pointer;
    }
</style>
<div >
    <div class="calendarTop">
        <div class="filter" style="float: left">
            Фильтровать по учителю: @Html.DropDownList("UserId", Model.TeachersList)
        </div>
        <div class="legend" style="float: right">
            @foreach (var item in Model.ColorLegend)
            {
                <span style="position:relative">
                <span class="label teacherLabel" style="background-color: @item.Color">@item.FullName</span>
                    <div style="display:none; position:absolute; z-index: 12;" class="well teacherGroups">
                        <ul style="list-style-type:circle">
                            @foreach(var group in item.GroupList)
                            {
                        <li class="draggableGroup" data-groupId="@group.GroupId">@group.Name</li>
                            }
                             </ul>
                    </div>
                </span>
            }
        </div>
    </div>

    <div id="popverContainer"></div>
    <div id="calendarContainer">
    <div id="calendar">
        <a href="#" id="fullscreen" runat="server">Полноэкранный режим</a>
        <a href="#" id="zoomIn">[+]</a>
        <a href="#" id="zoomOut">[-]</a>
    </div>
        </div>
    <div id="dialogContainer"></div>
    <div id="dialogContainerRemove"></div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/Scripts/dateinput.js"></script>
    <script type="text/javascript" src="~/Scripts/overlay.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.tmpl-beta1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.recurrenceinput.js"></script>
    @Scripts.Render("~/bundles/fullcalendar")
}
@section Styles{
    <link href="~/Content/overlay.css" rel="stylesheet">
    <link href="~/Content/jquery.recurrenceinput.css" rel="stylesheet" />
    @Styles.Render("~/content/fullcalendar")
}
<script type="text/javascript">
    $(".popoverClose").live("click", function () {
        $(this).closest(".popover").hide();
    });
    $(".draggableGroup").draggable({
        revert: true,      // immediately snap back to original position
        revertDuration: 0  //
    });
    $(".teacherLabel").click(function () {
        var parent = $(this).parent().find('div');
        var isVisible = parent.is(":visible");
        $(".teacherGroups").hide();
        if (isVisible) {
            parent.hide();
        }
        else {
            parent.show();
        }

    });
    $(window).resize(function () { $("#calendar").fullCalendar('option', 'height', $(window).height()-175)});
    $("#zoomOut").click(function () {
        var currentSlot = $("#calendar").fullCalendar('option', 'slotMinutes');
        if (currentSlot <= 110) {
            var Minutes = currentSlot + 10;
            $('#calendar').fullCalendar('setOptions', { slotMinutes: Minutes })
            $.cookie('zoom_value', Minutes);
        }
    });
    $("#zoomIn").click(function () {
        var currentSlot = $("#calendar").fullCalendar('option', 'slotMinutes');
        if (currentSlot >= 20) {
            var Minutes = currentSlot - 10;
            $('#calendar').fullCalendar('setOptions', { slotMinutes: Minutes })
            $.cookie('zoom_value', Minutes);
        }
    });
    $("#fullscreen").click(function () {
        if ($(this).text() == 'Полноэкранный режим') {
            $("#calendar").appendTo("body");
            $("#calendar").addClass("fullscreen");
            $(this).text("Выйти из полноэкранного режима");
            $('#calendar').fullCalendar('option', 'height', $(window).height());
        }
        else {
            $("#calendar").removeClass("fullscreen");
            $("#calendar").appendTo("#calendarContainer");
            $(this).text("Полноэкранный режим");
        }
    });
    var formId;
    $(document).ready(function () {
        var Minutes = 10;
        if ($.cookie('zoom_value') != undefined) {
            Minutes = $.cookie('zoom_value');
        }
        $('#calendar').fullCalendar({
            droppable: true,
            drop: function (date, allDay) {
                
                $.ajax({
                    url: '@Url.Action("SaveDroppedGroup")',
                    type: 'POST',
                    data: {
                        GroupId: $(this).data("groupid"),
                        Date: $.fullCalendar.formatDate(date, "yyyy/MM/dd hh:mm:ss TT")
                    },
                    success: function (data) {
                        $('#calendar').fullCalendar('refetchEvents');
                        noty({
                            text: "Saved successfully",
                            type: "success",
                            timeout: 1000
                        });
                    },
                    error: function () {
                        noty({
                            text: "Update failed",
                            type: "error",
                            timeout: 1000
                        });
                    }
                });



                //// retrieve the dropped element's stored Event Object
                //var originalEventObject = $(this).data('eventObject');
                //$.ajax({
                    
                //})
                //// we need to copy it, so that multiple events don't have a reference to the same object
                //var copiedEventObject = $.extend({}, originalEventObject);

                //// assign it the date that was reported
                //copiedEventObject.start = date;
                //copiedEventObject.allDay = allDay;

                //// render the event on the calendar
                //// the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                //$('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
            },
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'agendaWeek,agendaDay'
            },
            events: function (start, end, callback) {
                $.getJSON("@Url.Action("GetEvents")",
                     {
                        id: $("#UserId").val(),
                        start: $.fullCalendar.formatDate(start, "yyyy/MM/dd hh:mm:ss TT"),
                        end: $.fullCalendar.formatDate(end, "yyyy/MM/dd hh:mm:ss TT")
                    },
            function (locationsArray) {
                    var result = $(locationsArray).map(function () {
                        return {
                            title: this.title,
                            start: this.start,
                            end: this.end,
                            allDay: this.editable,
                            GroupInstanceId: this.GroupInstanceId,
                            ClassroomId: this.ClassroomId,
                            GroupId: this.GroupId,
                            color: this.Color,
                            RecurrenceRule: this.RecurrenceRule
                        };
                    }).toArray();
                    callback(result);
                });
            },
            firstDay: 1, //Start with Monday
            allDaySlot: false,
            height: $(window).height()-175,
            slotMinutes: parseInt(Minutes),
            editable: true,
            defaultView: 'agendaWeek',
            droppable: true,
            selectable: true,
            selectHelper: true,
            minTime: 8,
            maxTime: 22,
            buttonText: {
                today: 'Сегодня',
                month: 'Месяц',
                day: 'День',
                week: 'Неделя'
            },
            monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            monthNamesShort: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нов', 'Дек'],
            dayNames: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
            dayNamesShort: ['Вс', 'Пон', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
            select: function (start, end, allDay) {
                var now = new Date();
                //if (start < now) {
                //    alert("Ай-яй-яй. Нельзя создавать уроки в прошлом!");
                //    $(this).fullCalendar('unselect');
                //    return;
                //}
                formId = "createGroupInstanceForm";
                showDialog("@Url.Action("Create")", $.fullCalendar.formatDate(start, "yyyy/MM/dd hh:mm:ss TT"), $.fullCalendar.formatDate(end, "yyyy/MM/dd hh:mm:ss TT"));

                //if (title) {
                //    calendar.fullCalendar('renderEvent',
                //		{
                //		    title: title,
                //		    start: start,
                //		    end: end,
                //		    allDay: allDay
                //		},
                //		true // make the event "stick"
                //	);
                //}
                //calendar.fullCalendar('unselect');
            },
            eventClick: function (calEvent, jsEvent, view) {
                @*if (jsEvent.target.className === "icon-remove" || jsEvent.target.className === "removeEvent") //We handle remove button ourselves
                {
                    jsEvent.preventDefault();
                    return;
                }
                formId = "editGroupInstanceForm";
                showDialogEditRemove("@Url.Action("Edit", "GroupInstance")", calEvent.GroupInstanceId, calEvent.start, calEvent.end);*@
            },
            eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view) {
                $(".popover").hide();
                postEditCalendar(event);
                $('#calendar').fullCalendar('refetchEvents');
            },
            eventResize: function (event, dayDelta, minuteDelta, revertFunc) {
                $(".popover").hide();
                postEditCalendar(event);
                var events = $('#calendar').fullCalendar('clientEvents', event.id);
                $.each(events, function () {
                    $("#calendar").fullCalendar('updateEvent', $(this));
                });
                $('#calendar').fullCalendar('rerenderEvents');
            },
            eventRender: function (event, element) {
                $(".popover").hide();
                //Render html in event body O_O not supported by default: 
                //https://code.google.com/p/fullcalendar/issues/detail?id=152
                var titleElement = element.find('div.fc-event-title');
                titleElement.html(titleElement.text());
                
               @* $.get('@Url.Action("GetEventDetails")/' + event.GroupInstanceId, function (d) {
                    element.popover({
                        title: event.title,
                        html: true,
                        placement: 'right',
                        content: d,
                        trigger: 'click',
                        container: 'body'
                    })
                });*@
                $.ajax({
                    url: '@Url.Action("GetEventDetails")',
                    type: 'GET',
                    data: {
                        id: event.GroupInstanceId,
                        StartDateTime: $.fullCalendar.formatDate(event.start, "yyyy/MM/dd hh:mm:ss TT"),
                        EndDateTime: $.fullCalendar.formatDate(event.end, "yyyy/MM/dd hh:mm:ss TT")
                    },
                    success: function (data) {
                        element.popover({
                            title: event.title + '<a href="javascript:void(0)" style="float: right;" class="popoverClose"><i class="icon-remove"></i></a>',
                            html: true,
                            placement: 'right',
                            content: data,
                            trigger: 'manual',
                            container: 'body',
                            template: '<div class="popover" onmouseover="clearTimeout(timeoutObj);$(this).mouseleave(function() {$(this).hide();});"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>'
                        }).click(function (e) {
                            $(".popover").hide();
                            var ref = $(this);
                            ref.popover('show');
                        });
                        //}).click(function (e) {
                        //    var ref = $(this);
                        //    timeoutObj = setTimeout(function () {
                        //        ref.popover('hide');
                        //    }, 150);
                        //});
                    },
                    error: function () {
                    }
                });
                var eventId = event.GroupInstanceId;
                //Add remove & attendance icon
                //element.find(".fc-event-time")

                //.append($("<div class='scheduleToolbar'>\
                //    <a href='/UserGroupInstance/Edit?id="+eventId + "&date="+$.fullCalendar.formatDate(event.start, "yyyy/MM/dd hh:mm:ss TT")+"' data-event-id='" + eventId + "' rel='tooltip' class='toolbarIcon takeAttendance' data-toggle='tooltip' title='take attendance'>\
                //    <i class='icon-list-alt'></i> \
                //    </a> \
                //    <a href='#' data-event-id='" + eventId + "' rel='tooltip' class='toolbarIcon removeEvent' data-toggle='tooltip' title='Remove event'>\
                //    <i class='icon-remove'></i>\
                //    </a>\
                //    </div>\
                //    "));

                //Add color based on the field in table teacher
                @*$.get("@Url.Action("GroupInfo","showDialogEditRemove")", function (viewContent) {
                    element.popover({
                        title: 'Event details',
                        placement: 'bottom',
                        content: viewContent,
                        trigger: 'hover',
                    });
                });*@

            },
            eventAfterRender: function (event, element, view) {
                if (element.width() < 120) {
                    var titleElement = element.find('div.fc-event-title');
                    titleElement.html('');
                    element.find('div.fc-event-head').hide();
                }
            }
        });
        $("#dialogContainer").dialog({
            autoOpen: false,
            resizable: false,
            height: 'auto',
            modal: true,
            buttons: {
                "Сохранить":
                    {
                        class: 'btn btn-primary',
                        click: function () {
                            $("#update-message").html('');
                            $("#" + formId).submit(); //Since we have two ajax forms, we use global var to record relevant formId.
                        },
                        html: 'Сохранить'
                    },
                "Отменить":
                    {
                        class: 'btn btn-primary',
                        click: function () {
                            $(this).dialog("close");
                        },
                        html: 'Отменить'
                    }
            }
        });
        $("#dialogContainerRemove").dialog({
            autoOpen: false,
            resizable: false,
            height: 'auto',
            modal: true,
            buttons: {
                "Удалить":
                     {
                         class: 'btn btn-primary',
                         click: function () {
                             $("#update-message").html('');
                             $("#" + formId).submit(); //Since we have two ajax forms, we use global var to record relevant formId.
                         },
                         html: 'Удалить'
                     },
                "УдалитьПовторение":
                    {
                        class: 'btn btn-primary',
                        click: function () {
                            $("#update-message").html('');
                            $("#RemoveInstance").val("true");
                            $("#" + formId).submit(); //Since we have two ajax forms, we use global var to record relevant formId.
                        },
                        html: 'Удалить выбранное'
                    },
                "Отменить":
                    {
                        class: 'btn btn-primary',
                        click: function () {
                            $(this).dialog("close");
                        },
                        html: 'Отменить'
                    }
            }
        });
        //$(window).resize(function () {
        //    $(".fc-event-time").each(function () {
        //        if ($(this).width() < 100) {
        //            $(this).find(".scheduleToolbar").hide();
        //        }
        //    });
        //});
    });
    $(document).on("click", ".removeEvent", function () {
        $(this).closest(".popover").hide();
        formId = "deleteGroupInstanceForm";
        showDialogRemove("/GroupInstance/Delete/" + $(this).data('event-id'), $(this).data('event-id'), $(this).attr('data-startdate'), $(this).attr('data-enddate'));
    });
    $(document).on("click", ".editEvent", function () {
        $(this).closest(".popover").hide();
        formId = "editGroupInstanceForm";
        showDialogEdit("@Url.Action("Edit", "GroupInstance")", $(this).data('event-id'));
    });
    function showDialogEdit(href, id, StartTime, EndTime) {
        var dialogDiv = $("#dialogContainer");
        var viewUrl = href;
        $.ajax({
            url: viewUrl,
            type: 'GET',
            data: {
                id: id,
                //start: $.fullCalendar.formatDate(StartTime, "yyyy/MM/dd hh:mm:ss TT"),
                //end: $.fullCalendar.formatDate(EndTime, "yyyy/MM/dd hh:mm:ss TT")
            },
            success: function (data) {
                dialogDiv.html(data);
                dialogDiv.dialog('open');
            },
            error: function () {
                alert("error2");
            }
        });
    }
    function showDialogRemove(href, id, StartTime, EndTime) {
        var dialogDiv = $("#dialogContainerRemove");
        var viewUrl = href;
        $.ajax({
            url: viewUrl,
            type: 'GET',
            data: {
                id: id,
                start: StartTime,
                end: EndTime
            },
            success: function (data) {
                dialogDiv.html(data);
                dialogDiv.dialog('open');
            },
            error: function () {
                alert("error3");
            }
        });
    }
    function showDialog(href, start, end) {
        var dialogDiv = $("#dialogContainer");
        var viewUrl = href;
        $.ajax({
            url: viewUrl,
            type: 'GET',
            data: {
                start: start,
                end: end
            },
            success: function (data) {
                dialogDiv.html(data);
                dialogDiv.find("#StartDateTime").val(start);
                dialogDiv.find("#EndDateTime").val(end);
                //$('.datepicker').datepicker();
                ////validation
                //var $form = $("#updateCarForm");
                ////Unbind existing validation
                //$form.unbind();
                //$form.data("validatior", null);
                ////check document for changes
                //$.validator.unobtrusive.parse(document);
                ////Readd validation with changes
                //$form.validate();
                dialogDiv.dialog('open');
            },
            error: function () {
                alert("error4");
            }
        });
    }
    function updateSuccess() {
        if ($("#update-message").html() == "True") {

            //var parent = linkObj.closest("tr");
            //parent.find(".Amount").html($("#Amount").val());
            //parent.find(".EffectiveDate").html($("#EffectiveDate").val());
            setTimeout(function () { $('#calendar').fullCalendar('refetchEvents'); }, 0);
            $('#dialogContainer').dialog("close");
            $('#dialogContainerRemove').dialog("close");
        }
        else {
        }
    }

    function postEditCalendar(event) {
        $.ajax({
            url: '@Url.Action("Edit")',
            type: "POST",
            data: {
                GroupInstanceId: event.GroupInstanceId,
                StartDateTime: $.fullCalendar.formatDate(event.start, "yyyy/MM/dd hh:mm:ss TT"),
                EndDateTime: $.fullCalendar.formatDate(event.end, "yyyy/MM/dd hh:mm:ss TT"),
                GroupId: event.GroupId,
                ClassroomId: event.ClassroomId,
                RecurrenceRule: event.RecurrenceRule
            },
            success: function () {
                noty({
                    text: "Saved successfully",
                    type: "success",
                    timeout: 1000
                });
            },
            error: function () {
                noty({
                    text: "Update failed",
                    type: "error",
                    timeout: 1000
                });
            }
        });
    }
    $("#UserId").change(function () {
        $("#calendar").fullCalendar('refetchEvents');
    });
    $('*[data-ajaxload]').bind('click', function () {
        var e = $(this);
        e.unbind('click');
        $.get(e.data('poload'), function (d) {
            e.popover({ content: d }).popover('show');
        });
    });
</script>