@model IEnumerable<SchoolApp.Models.GroupInstance>

@{
    ViewBag.Title = "Schedule";
}
<div class="well">

    <div id="calendar"></div>
    <div id="dialogContainer"></div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/fullcalendar")
}
@section Styles{
    @Styles.Render("~/content/fullcalendar")
}
<script type="text/javascript">
    var formId;
    $(document).ready(function () {

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'agendaWeek,agendaDay'
            },
            events: function (start, end, callback) {
                $.getJSON("@Url.Action("GetEvents")", function (locationsArray) {
                    var result = $(locationsArray).map(function () {
                        return {
                            title: this.title,
                            start: this.start,
                            end: this.end,
                            allDay: this.editable,
                            GroupInstanceId: this.GroupInstanceId
                        };
                    }).toArray();
                    callback(result);
                });
            },

            allDaySlot: false,
            editable: true,
            defaultView: 'agendaDay',
            droppable: true,
            selectable: true,
            selectHelper: true,
            select: function (start, end, allDay) {
                formId = "createGroupInstanceForm";
                showDialog("@Url.Action("Create")", $.fullCalendar.formatDate(start, "yyyy/MM/dd hh:mm:ss TT"), $.fullCalendar.formatDate(end, "yyyy/MM/dd hh:mm:ss TT"));
                //if (title) {
                //    calendar.fullCalendar('renderEvent',
				//		{
				//		    title: title,
				//		    start: start,
				//		    end: end,
				//		    allDay: allDay
				//		},
				//		true // make the event "stick"
				//	);
                //}
                //calendar.fullCalendar('unselect');
            },
            eventClick: function (calEvent, jsEvent, view) {
                if (jsEvent.target.className === "icon-remove" || jsEvent.target.className === "removeEvent") //We handle remove button ourselves
                {
                    jsEvent.preventDefault();
                    return;
                }
                formId = "editGroupInstanceForm";
                showDialogEditRemove("@Url.Action("Edit","GroupInstance")/" + calEvent.GroupInstanceId);
            },
            drop: function (date, allDay) { // this function is called when something is dropped
                // retrieve the dropped element's stored Event Object
                var originalEventObject = $(this).data('eventObject');

                // we need to copy it, so that multiple events don't have a reference to the same object
                var copiedEventObject = $.extend({}, originalEventObject);

                // assign it the date that was reported
                copiedEventObject.start = date;
                copiedEventObject.allDay = allDay;

                // render the event on the calendar
                // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

                // is the "remove after drop" checkbox checked?
                if ($('#drop-remove').is(':checked')) {
                    // if so, remove the element from the "Draggable Events" list
                    $(this).remove();
                }

            },
            eventResize: function(event,dayDelta,minuteDelta,revertFunc) {
                //Send update to database TODO
                //$.ajax({
                //    url: '/GroupInstance/Edit/' + event.GroupInstanceId,
                //    type: 'POST',
                //    data: {
                //        StartDateTime:event.StartDateTime,
                //        EndDateTime: event.EndDateTime,
                //        GroupInstanceId: event.GroupInstanceId
                //    },
                //    success: function (data) {
                //        alert(data.success);
                //    },
                //    error: function () {
                //        alert("error");
                //    }
                //});
@*                $.post('@Url.Action("Edit")/' + event.GroupInstanceId,
                    {
                        GroupInstanceId: event.GroupInstanceId,
                        StartDateTime: event.StartDateTime,
                        EndDateTime: event.EndDateTime
                    }).
                    done(function () {
                    alert('Update success');
                });*@
            },
            eventRender: function (event, element) {
                var eventId = event.GroupInstanceId;
                element.find(".fc-event-time").append($("<a href='#' data-event-id='" + eventId + "' rel='tooltip' class='removeEvent' data-toggle='tooltip' title='Remove event'></a>")
                .html("<i class='icon-remove'></i>"));
            }
        });
        $("#dialogContainer").dialog({
            autoOpen: false,
            resizable: false,
            height: 'auto',
            modal: true,
            buttons: {
                "Update":
                    {
                        class: 'btn btn-primary',
                        click: function () {
                            $("#update-message").html('');
                            $("#"+formId).submit(); //Since we have two ajax forms, we use global var to record relevant formId.
                        },
                        html: 'Update'
                    },
                Cancel:
                    {
                        class: 'btn btn-primary',
                        click: function () {
                            $(this).dialog("close");
                        },
                        html: 'Cancel'
                    }
            }
        });
    });
    $(document).on("click", ".removeEvent", function () {
        formId = "deleteGroupInstanceForm";
        showDialogEditRemove("/GroupInstance/Delete/" + $(this).data('event-id'));
    });
    function showDialogEditRemove(href) {
        var dialogDiv = $("#dialogContainer");
        var viewUrl = href;
        $.get(viewUrl, function (data) {
            dialogDiv.html(data);
            //$('.datepicker').datepicker();
            ////validation
            //var $form = $("#updateCarForm");
            ////Unbind existing validation
            //$form.unbind();
            //$form.data("validatior", null);
            ////check document for changes
            //$.validator.unobtrusive.parse(document);
            ////Readd validation with changes
            //$form.validate();
            dialogDiv.dialog('open');
        });
        return false;
    }
    function showDialog(href,start,end) {
        var dialogDiv = $("#dialogContainer");
        var viewUrl = href;
        $.get(viewUrl, function (data) {
            dialogDiv.html(data);
            dialogDiv.find("#StartDateTime").val(start);
            dialogDiv.find("#EndDateTime").val(end);
            //$('.datepicker').datepicker();
            ////validation
            //var $form = $("#updateCarForm");
            ////Unbind existing validation
            //$form.unbind();
            //$form.data("validatior", null);
            ////check document for changes
            //$.validator.unobtrusive.parse(document);
            ////Readd validation with changes
            //$form.validate();
            dialogDiv.dialog('open');
        });
            return false;
    }
    function updateSuccess() {
        if ($("#update-message").html() == "True") {

            //var parent = linkObj.closest("tr");
            //parent.find(".Amount").html($("#Amount").val());
            //parent.find(".EffectiveDate").html($("#EffectiveDate").val());
            $('#calendar').fullCalendar('refetchEvents');
            $('#dialogContainer').dialog("close");
        }
        else {

        }

    }
</script>