@model SchoolApp.Models.UserProfile

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model=>model.HexColor)
    <div class="editor-label">
        @Html.LabelFor(model => model.UserName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.UserName)
        @Html.ValidationMessageFor(model => model.UserName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.FirstName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.LastName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Email)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Address)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Address)
        @Html.ValidationMessageFor(model => model.Address)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Phone)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Phone)
        @Html.ValidationMessageFor(model => model.Phone)
    </div>
    <div class="editor-field" style="padding-bottom: 10px">
        <span style="vertical-align: middle">Select a color: </span>
        <div class="input-append color" style="display: inline !important" data-color="#ff96b7" data-color-format="hex" id="cp3">
            <span class="add-on add-on-rounded"><i style="background-color: #ff96b7"></i></span>
        </div>
        @Html.ValidationMessageFor(model => model.HexColor)
    </div>
    <p>
        <button type="submit" class="btn btn-primary"><i class="icon-save"></i>Save</button>
        <a href="@Url.Action("Index")" class="btn">Back to list</a>
    </p>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(document).ready(function () {
        var ColorControl = $("#HexColor");
        var currentColor = ColorControl.val();
        if (currentColor == '') {
            ColorControl.val('#ff96b7');
        }
        else {
            $(".color").data("color", currentColor);
            $(".color i").css("background-color", currentColor);
        }
        $('#cp3').colorpicker().on('changeColor', function (ev) {
            ColorControl.val(ev.color.toHex());
        });
    });
</script>
