@model SchoolApp.ViewModels.GroupCreateEditViewModel

@{
    ViewBag.Title = "Add New Group";
}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        <div class="editor-label">
            @Html.LabelFor(model => model.Group.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Group.Name)
            @Html.ValidationMessageFor(model => model.Group.Name)
        </div>
          <div class="editor-field" style="padding-bottom: 20px;">
        @Html.ListBoxFor(x=>x.SelectedTeacherIds, Model.Teachers, new{@id="teacherSelect", name="teacherSelect[]"})
        </div>
         <div class="editor-field">
            @Html.ListBoxFor(x=>x.SelectedStudentIds, Model.Students, new{@id="studentSelect", name="studentSelect[]"})
        </div>
        <p>
            <button type="submit" class="btn btn-primary"><i class="icon-save"></i> Save</button>
            <a href="@Url.Action("Index")" class="btn">Back to list</a>
        </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/quicksearch")
}
<script>
    $('#teacherSelect').multiSelect({
        selectableHeader: "<div class='listbox-header'>Available teachers</div>",
        selectionHeader: "<div class='listbox-header'>Selected teachers</div>"
    });
    $('#studentSelect').multiSelect({
        selectableHeader: "<input type='text' id='search' style='width: 150px;' autocomplete='off' placeholder='Искать тут...'>",
        selectionHeader: "<div class='listbox-header' style='padding-top: 20px;'>Выбранные студенты</div>"
    });
    $('#search').quicksearch($('.ms-elem-selectable', '#ms-studentSelect')).on('keydown', function (e) {
        if (e.keyCode == 40) {
            $(this).trigger('focusout');
            $('#studentSelect').focus();
            return false;
        }
    });
</script>