@model IEnumerable<SchoolApp.ViewModels.GroupDetailsViewModel>

@{
    ViewBag.Title = "Все версии группы";
}
<div class="table-header">Все версии группы</div>
<table class="table datatable">
    <thead>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Students)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Teachers)
        </th>
        <th></th>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @foreach (var student in item.Students)
            {
                <span class="label label-info">@student</span>
            }
        </td>
        <td>
            @foreach (var teacher in item.Teachers)
            {
                <span class="label label-success">@teacher</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.CreatedDate)
        </td>
    </tr>
}

</table>
<script type="text/javascript">
    $(document).ready(function () {
        $(".datatable tbody tr:first").addClass("success");
    });
</script>