@model IEnumerable<SchoolApp.ViewModels.GroupIndexViewModel>

@{
    ViewBag.Title = "Группы";
}

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary"><i class="icon-plus"></i> Добавить Группу</a>
</p>
<div class="well">
<table class="table table-striped datatable">
    <thead>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Students)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Teachers)
        </th>
        <th></th>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @foreach (var student in item.Students)
            {
                <span class="label label-info">@student</span>
            }
        </td>
        <td>
            @foreach (var teacher in item.Teachers)
            {
                <span class="label label-success">@teacher</span>
            }
        </td>
        <td>
			<a href="@Url.Action("Edit", new { id=item.GroupId })" rel="tooltip" data-toggle="tooltip" title="Edit group"><i class="icon-pencil"></i></a>
            <a href="@Url.Action("Details", new { id=item.GroupId })" rel="tooltip" data-toggle="tooltip" title="View details"><i class="icon-tasks"></i></a>
            <a href="@Url.Action("Delete", new { id=item.GroupId })" rel="tooltip" data-toggle="tooltip" title="Remove group"><i class="icon-remove"></i></a>
        </td>
    </tr>
}

</table>
</div>
