@model IEnumerable<SchoolApp.Models.UserGroupInstance>

@{
    ViewBag.Title = "Details";
}

<div class="well">
<table class="table datatable table-striped">
    <thead>
        <th>
            @Html.DisplayNameFor(model=>model.InstanceDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.GroupInstance.Group.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Present)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendanceTaken)
        </th>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem=>item.InstanceDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.GroupInstance.Group.Name)
           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Present)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttendanceTaken)
        </td>
    </tr>
}

</table>
