@model IEnumerable<SchoolApp.Models.UserGroupInstance>

@{
    ViewBag.Title = "Edit";
}
@*TODO: this page is developed using jquery post method that posts dictionary to controller and updates values. 
This is not a standard way of doing things and it's a good idea to refactor this page using editorTemplates:
http://stackoverflow.com/questions/13483715/in-mvc4-how-to-save-multiple-row-edits-at-once
*@

<table id="attendanceTable" class="table table-striped datatable">
    <thead>
        <th>
            Студент
        </th>
        <th>
            Посещение
        </th>
        <th></th>
    </thead>
    @Html.HiddenFor(x=>Model.FirstOrDefault().InstanceDateTime)
    @Html.HiddenFor(modelItem=>Model.FirstOrDefault().GroupInstanceId)
@foreach (var item in Model) {
    <tr class="attendanceRow">
        <td>
            @Html.DisplayFor(modelItem => item.User.FullName)
        </td>
        <td>

            <div class="btn-group" data-UserGroupInstance="@item.UserId">
                 <button class="attendanceBtn btn btn-small @if (item.Present==SchoolApp.Models.AttendanceType.NA){<text>active btn-success</text>}" value="0">N/A</button>
              <button class="attendanceBtn btn btn-small @if (item.Present==SchoolApp.Models.AttendanceType.Present){<text>active btn-success</text>}" value="1">Присутствовал</button>
              <button class="attendanceBtn btn btn-small @if (item.Present==SchoolApp.Models.AttendanceType.Absent){<text>active btn-success</text>}" value="2">Отсутствовал</button>
              <button class="attendanceBtn btn btn-small @if (item.Present==SchoolApp.Models.AttendanceType.AbsentWithExcuse){<text>active btn-success</text>}" value="3">Отсутствовал и предупредил</button>
            </div>
        </td>
        <td>
            <a href="@Url.Action("Delete", new { id=item.UserGroupInstanceID })" rel="tooltip" data-toggle="tooltip" title="Remove record"><i class="icon-remove"></i></a>
        </td>
    </tr>
}
    </table>
<button id="btnSave" class="btn btn-primary disabled" disabled="disabled" value="Save">Saved</button>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(document).on("click", ".attendanceBtn", function () {
        var btnSave = $("#btnSave");
        btnSave.removeAttr("disabled");
        btnSave.removeClass("disabled");
        btnSave.text("Save attendance");
        $(this).parent().find(".attendanceBtn").removeClass("active btn-success");
        $(this).addClass("active btn-success");
    });
    $("#btnSave").click(function () {
        var groups = $(".attendanceRow").find(".attendanceBtn.active");
        var dict = new Object();
        groups.each(function () {
            dict[$(this).parent().data("usergroupinstance")] = $(this).val();
        })

        $.ajax({
            type: "POST",
            url: '@Url.Action("Save")',
            data: {
                groups: dict,
                date: $("#InstanceDateTime").val(),
                GroupInstanceId: $("#GroupInstanceId").val()
            },
            success: function () {
                var btnSave = $("#btnSave");
                btnSave.attr("disabled", "disabled");
                btnSave.text("Saved");
                noty({
                    text: "Attendance updated successfully",
                    type: "success"
                });
            },
            error: function () {
                noty({ text: "Update failed", type: "error" });
            }
        });
    });
</script>