@model SchoolApp.ViewModels.UserGroupInstanceEditViewModel

@{
    ViewBag.Title = "Edit";
}
@*TODO: this page is developed using jquery post method that posts dictionary to controller and updates values. 
This is not a standard way of doing things and it's a good idea to refactor this page using editorTemplates:
http://stackoverflow.com/questions/13483715/in-mvc4-how-to-save-multiple-row-edits-at-once
*@

<table id="attendanceTable" class="table table-striped datatable">
    <thead>
        <th>
            Студент
        </th>
        <th>
            Посещение
        </th>
        <th></th>
    </thead>
    @Html.HiddenFor(x=>Model.UserGroupInstances.FirstOrDefault().InstanceDateTime)
    @Html.HiddenFor(modelItem=>Model.UserGroupInstances.FirstOrDefault().GroupInstanceId)
@foreach (var item in Model.UserGroupInstances) {
    <tr class="attendanceRow">
        <td>
            @Html.DisplayFor(modelItem => item.User.FullName)
        </td>
        <td>

            <div class="btn-group" data-UserGroupInstance="@item.UserId">
                 <button class="attendanceBtn btn btn-small @if (item.Present==SchoolApp.Models.AttendanceType.NA){<text>active btn-success</text>}" value="0">N/A</button>
              <button class="attendanceBtn btn btn-small @if (item.Present==SchoolApp.Models.AttendanceType.Present){<text>active btn-success</text>}" value="1">Присутствовал</button>
              <button class="attendanceBtn btn btn-small @if (item.Present==SchoolApp.Models.AttendanceType.Absent){<text>active btn-success</text>}" value="2">Отсутствовал</button>
              <button class="attendanceBtn btn btn-small @if (item.Present==SchoolApp.Models.AttendanceType.AbsentWithExcuse){<text>active btn-success</text>}" value="3">Отсутствовал и предупредил</button>
            </div>
        </td>
        <td>
            <a href="@Url.Action("Delete", new { id=item.UserGroupInstanceID })" rel="tooltip" data-toggle="tooltip" title="Remove record"><i class="icon-remove"></i></a>
        </td>
    </tr>
}
    <tfoot>
        <td></td>
        <td>
            Выберите студента: @Html.DropDownList("UserId", new SelectList(Model.Students.Select(x => new { x.FullName, x.UserId }), "UserId", "FullName"),"Выбрать")
            <button class="btn btn-mini" id="addStudent">Добавить</button>
        </td>
        <td></td>
    </tfoot>

</table>
<button id="btnSave" class="btn btn-primary disabled" disabled="disabled" value="Save">Saved</button>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $("#addStudent").click(function () {
        var selectBox = $("#UserId");
        var selectedOption = $("#UserId option:selected");
        var selectedText = selectedOption.text();
        var selectedValue = selectBox.val();
        if (selectedValue != '' && selectedValue > 0) {
            var lastRow = $('#attendanceTable > tbody > tr:last');
            var copy = lastRow.clone();
            copy.find('td:first').text(selectedText);
            copy.find('.btn-group').attr('data-usergroupinstance', selectedValue);
            copy.find('.attendanceBtn').removeClass('active').removeClass('btn-success');
            copy.find('.attendanceBtn:first').addClass('active').addClass('btn-success');
            selectedOption.remove();
            if (lastRow.hasClass('odd')) {
                copy.removeClass('odd');
                copy.addClass('even');
            }
            else {
                copy.removeClass('even');
                copy.addClass('odd');
            }
            copy.insertAfter(lastRow);
        }
        else {
            alert("Сначала нужно выбрать студента");
        }
    });
    $(document).on("click", ".attendanceBtn", function () {
        var btnSave = $("#btnSave");
        btnSave.removeAttr("disabled");
        btnSave.removeClass("disabled");
        btnSave.text("Save attendance");
        $(this).parent().find(".attendanceBtn").removeClass("active btn-success");
        $(this).addClass("active btn-success");
    });
    $("#btnSave").click(function () {
        var groups = $(".attendanceRow").find(".attendanceBtn.active");
        var dict = new Object();
        groups.each(function () {
            dict[$(this).parent().data("usergroupinstance")] = $(this).val();
        })

        $.ajax({
            type: "POST",
            url: '@Url.Action("Save")',
            data: {
                groups: dict,
                date: $("#InstanceDateTime").val(),
                GroupInstanceId: $("#GroupInstanceId").val()
            },
            success: function () {
                var btnSave = $("#btnSave");
                btnSave.attr("disabled", "disabled");
                btnSave.text("Saved");
                noty({
                    text: "Attendance updated successfully",
                    type: "success"
                });
            },
            error: function () {
                noty({ text: "Update failed", type: "error" });
            }
        });
    });
</script>