@model SchoolApp.Models.UserProfile

@{
    ViewBag.Title = "Добавление студента";   
    var items = new SelectList(ViewBag.Level, "Name", "Value");
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
     <div class="editor-label">
            @Html.LabelFor(model => model.StudentLevel)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.StudentLevel, items)
            @Html.ValidationMessageFor(model=>model.StudentLevel)
        </div>

        <p>
                        <button type="submit" class="btn btn-primary"><i class="icon-save"></i> Save</button>
            <a href="@Url.Action("Index")" class="btn">Back to list</a>
        </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
