<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - School App</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/Bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Bundles/datatables")
    @Styles.Render("~/Content/datatables")
    @Styles.Render("~/Content/themes/base/css")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required:false)
    <script type="text/javascript">
        $(function () {
            $("[rel='tooltip']").tooltip();
        });
    </script>
</head>

<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class="">
    <!--<![endif]-->
    <header>
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav pull-right">

                    <li><a href="#" class="hidden-phone visible-tablet visible-desktop" role="button">Settings</a></li>
                    @Html.Partial("_LoginPartial")
                </ul>
                <a class="brand" href="/Home/Index"><span class="first">FPCS</span> <span class="second">School</span></a>
            </div>
        </div>
    </header>
    <div class="sidebar-nav">
        <form class="search form-inline">
            <input type="text" placeholder="Search...">
        </form>

        <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>Dashboard</a>
        <ul id="dashboard-menu" class="nav nav-list collapse in">
            <li>@Html.ActionLink("Home","Index","Home") </li>
            <li>@Html.ActionLink("Classrooms","Index","Classroom") </li>
            <li>@Html.ActionLink("Students","Index", "Student") </li>
            <li>@Html.ActionLink("Teachers","Index", "Teacher") </li>
            <li>@Html.ActionLink("Groups","Index", "Group") </li>
            <li>@Html.ActionLink("Payment Profiles","Index", "PaymentProfile") </li>
            <li>@Html.ActionLink("Schedule","Index", "GroupInstance") </li>
        </ul>

        <a href="#accounts-menu" class="nav-header" data-toggle="collapse"><i class="icon-briefcase"></i>Account<span class="label label-info">+3</span></a>
        <ul id="accounts-menu" class="nav nav-list collapse">
           <li>@Html.ActionLink("Login","Login","Account")</li>
           <li>@Html.ActionLink("Register","Register", "Account" )</li>
        </ul>

        <a href="#error-menu" class="nav-header collapsed" data-toggle="collapse"><i class="icon-exclamation-sign"></i>Error Pages <i class="icon-chevron-up"></i></a>
        <ul id="error-menu" class="nav nav-list collapse">
            <li><a href="403.html">403 page</a></li>
            <li><a href="404.html">404 page</a></li>
            <li><a href="500.html">500 page</a></li>
            <li><a href="503.html">503 page</a></li>
        </ul>

        <a href="#legal-menu" class="nav-header" data-toggle="collapse"><i class="icon-legal"></i>Legal</a>
        <ul id="legal-menu" class="nav nav-list collapse">
            <li><a href="privacy-policy.html">Privacy Policy</a></li>
            <li><a href="terms-and-conditions.html">Terms and Conditions</a></li>
        </ul>

        <a href="help.html" class="nav-header"><i class="icon-question-sign"></i>Help</a>
        <a href="faq.html" class="nav-header"><i class="icon-comment"></i>Faq</a>
    </div>
    <div class="content">
        <div class="header">
            <div class="stats">

                @*Optional stats to display on page.*@
                @{if (ViewBag.Stats!=null)
                    {
                    foreach(var stat in ViewBag.Stats)
                    {
                        <p class="stat"><span class="number">@stat.Item1</span>@stat.Item2</p>
                    }
                    }
                }
            </div>
            @* Title of a page is defined in a view*@
            <h1 class="page-title">@ViewBag.Title</h1>
        </div>

        <ul class="breadcrumb">
            <li><a href="index.html">Test</a> <span class="divider">/</span></li>
            <li class="active">Location</li>
        </ul>
        <div class="container-fluid">
            <div class="row-fluid">
                @RenderSection("featured", false)
                @RenderBody()

                <footer>
                    <hr style="margin: 0;" />
                    <p class="pull-right">A <a href="http://www.portnine.com/bootstrap-themes" target="_blank">Free Bootstrap Theme</a> by <a href="http://www.portnine.com" target="_blank">Portnine</a></p>


                    <p>&copy; 2012 <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
                </footer>
                </div>
        </div>
    </div>
</body>
</html>
