@model SchoolApp.Models.PaymentRule

@{
bool isCurrent = ViewBag.IsCurrent;
}
@using (Ajax.BeginForm(
    "Create",
    "PaymentRule",
    new AjaxOptions
    {
        UpdateTargetId = "update-message",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "Post",
        OnSuccess = "updateSuccess"
    },
    new { @id = "updatePaymentRuleForm" }))
{
    @Html.ValidationSummary(true)
    @Html.Hidden("isCurrent", isCurrent)
    <div id="update-message"></div>
    <div class="btn-group" data-toggle="buttons-radio">
           <button type="button" id="fixedRate" name="fixedRateToggle" class="btn active">Fixed Rate</button>
           <button type="button" id="flexibleRate" name="flexibleRateToggle"  class="btn">Flexible Rate</button>
       </div>
    if (!ViewBag.IsCurrent)
    {
        <div class="editor-label">
            @Html.LabelFor(model => model.EffectiveDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EffectiveDate)
            @Html.ValidationMessageFor(model => model.EffectiveDate)
        </div>
}
        <div id="fixedRatePlaceholder">
    
    <div class="editor-label">
        @Html.LabelFor(model => model.Amount)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Amount)
        @Html.ValidationMessageFor(model => model.Amount)
    </div>
        </div>
    <div id="flexibleRatePlaceholder" hidden>
        <table id="tableRules" class="table table-condensed table-striped">
            <thead>
                <th># Students</th>
                <th>Price</th>
            </thead>
            <tbody>
                     <tr>
                    <td>
                        <input type="text" name="ruleStudents" class="ruleStudents" />
                    </td>
                    <td>
                        <input type="text" name="ruleAmount" class="ruleAmount" />
                    </td>
                    <td> <a href="#" class="removeRuleRow"><i class="icon-minus-sign"></i></a></td>
                </tr>
            </tbody>
        </table>
        <a href="#" class="btn btn-small" id="addNewRule">Add row</a>
    </div>
}
<script type="text/javascript">
    $("#flexibleRate").click(function () {
        $("#Variable").val(true);
        showFlexibleRate();
    });
    $("#fixedRate").click(function () {
        $("#Variable").val(false);
        showFixedRate();
    });
    $("#addNewRule").click(function () {
        $('#tableRules tr:last').after('<tr>\
                                            <td><input type="text" class="ruleStudents" name="ruleStudents"  /></td> \
                                            <td><input type="text" class="ruleAmount" name="ruleAmount"  /></td> \
                                            <td> <a href="#" class="removeRuleRow"><i class="icon-minus-sign"></i></a></td> \
                                            </tr>');
    });
    function showFlexibleRate() {
        $("#flexibleRatePlaceholder").show();
        $("#fixedRatePlaceholder").hide();
    }
    function showFixedRate() {
        $("#flexibleRatePlaceholder").hide();
        $("#fixedRatePlaceholder").show();
    }
    $(document).on("click", ".removeRuleRow", function () {
        $(this).parent().parent().remove();
    });
</script>