@model SchoolApp.ViewModels.PaymentProfileEditViewModel    
    @if(Model.CurrentPaymentRule!=null)
        {
        if (Model.FuturePaymentRule == null)
        {
            @Html.ActionLink("Add new payment rule", "Create", "PaymentRule", new { id = Model.PaymentProfile.PaymentProfileId }, new {@class="editLink"});
        }
        <table class="table table-condensed table-min">
            <thead>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentPaymentRule.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentPaymentRule.EffectiveDate)
                </th>
                <th></th>
            </thead>
            @if (Model.FuturePaymentRule != null)
            {
                <tr class="error row-transparent">
                    <td><span class="label label-error">Будущий</span></td>
                    <td class="Amount">
                        @Html.DisplayFor(modelItem => Model.FuturePaymentRule.Amount)
                    </td>
                    <td class="EffectiveDate">
                        @Html.DisplayFor(modelItem => Model.FuturePaymentRule.EffectiveDate)
                    </td>
                    <td>
                         @Html.ActionLink("Редактировать","Edit","PaymentRule",
                                new { id = Model.FuturePaymentRule.PaymentRuleId },
                                new { @class = "editLink" }
                                )
                    </td>
                </tr>
            }
            @using (Ajax.BeginForm(null))
            {
                if (Model.CurrentPaymentRule != null)
                {
                <tr class="success">
                  <td><span class="label label-success">Текущий</span></td>
                    <td class="Amount">
                        @Html.DisplayFor(modelItem => Model.CurrentPaymentRule.Amount)
                    </td>
                    <td class="EffectiveDate">
                        @Html.DisplayFor(modelItem => Model.CurrentPaymentRule.EffectiveDate)
                    </td>
                      <td>
                        @Html.ActionLink("Редактировать", "Edit","PaymentRule",
                                new { id = Model.CurrentPaymentRule.PaymentRuleId, current=true },
                                new { @class = "editLink", id="currentRule", rel="tooltip", data_toggle="tooltip", title="edit rule" }
                                )
                          		
                     </td>
                </tr>
                }
            }
            @foreach (var payment in Model.OldPaymentRules)
            {
                <tr class="info row-transparent">
                    <td>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => payment.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => payment.EffectiveDate)
                    </td>
                    <td></td>
                </tr>
            }
        </table>
        }
        else
        {
        //If no payment rules exist add initial payment rule here.
         @Html.ActionLink("Create Payment Rule", "Create","PaymentRule",
                                new { id = Model.PaymentProfile.PaymentProfileId, isCurrent = true },
                                new { @class = "editLink" }
                                )
        }
<script>
    //function changeTooltipColorTo(color) {
    //    $('.tooltip-inner').css('background-color', color)
    //    $('.tooltip.top .tooltip-arrow').css('border-top-color', color);
    //    $('.tooltip.right .tooltip-arrow').css('border-right-color', color);
    //    $('.tooltip.left .tooltip-arrow').css('border-left-color', color);
    //    $('.tooltip.bottom .tooltip-arrow').css('border-bottom-color', color);
    //}
    //$(document).ready(function () {
    //    $("[rel=tooltip]").tooltip();
    //    $('#currentRule').hover(function () { changeTooltipColorTo('#f00') });
    //});
</script>