@model SchoolApp.Models.LoginModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
    <h2>Login to your account</h2>

        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="input-prepend" title="Username">
                <span class="add-on"><i class="icon-user"></i></span>
                @Html.TextBoxFor(m => m.UserName, new { @class = "input-large span10", @placeholder = "type username" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="clearfix"></div>

            <div class="input-prepend" title="Password">
                <span class="add-on"><i class="icon-lock"></i></span>
                @Html.PasswordFor(m => m.Password, new { @class = "input-large span10", @placeholder = "type password" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="clearfix"></div>
							
           <span class="remember"> @Html.CheckBoxFor(m => m.RememberMe, new {@class="rememberCheckbox"}) Remember me?</span>

            <div class="button-login">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        }
        <div class="clearfix"></div>

        <hr>
        @*<h3>Forgot Password?</h3>
        <p>
            No problem, @Html.ActionLink("click here","Manage") to get a new password.
        </p>*@
        <h3>Don't have an account?</h3>
        <p> No problem, you can always register @Html.ActionLink("here","Register").</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
