@model SchoolApp.ViewModels.PaymentProfileEditViewModel

@{
    ViewBag.Title = "Edit";
}
<div class="row-fluid">
<div class="span12">
            @if (Model.FuturePaymentRule != null)
        {
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="icon-warning-sign"></i>Do not forget to notify students about the upcoming price change
            </div>
        }
    <div class="span3">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.PaymentProfile.PaymentProfileId)
            @Html.HiddenFor(model => model.CurrentPaymentRule.PaymentRuleId)
            @Html.HiddenFor(model => model.CurrentPaymentRule.PaymentProfileId)
            @Html.HiddenFor(model => model.CurrentPaymentRule.CreatedDate)
            <div class="editor-label">
                @Html.LabelFor(model => model.PaymentProfile.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PaymentProfile.Name)
                @Html.ValidationMessageFor(model => model.PaymentProfile.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PaymentProfile.Comments)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PaymentProfile.Comments)
                @Html.ValidationMessageFor(model => model.PaymentProfile.Comments)
            </div>
            <p>
                <button type="submit" class="btn btn-primary"><i class="icon-save"></i>Save</button>
                <a href="@Url.Action("Index")" class="btn">Back to list</a>
            </p>
        }
    </div>
    <div class="span4">
        <table class="table table-condensed table-min">
            <thead>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentPaymentRule.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentPaymentRule.EffectiveDate)
                </th>
                <th></th>
            </thead>
            @if (Model.FuturePaymentRule != null)
            {
                <tr class="error row-transparent">
                    <td><span class="label label-error">Upcoming</span></td>
                    <td class="Amount">
                        @Html.DisplayFor(modelItem => Model.FuturePaymentRule.Amount)
                    </td>
                    <td class="EffectiveDate">
                        @Html.DisplayFor(modelItem => Model.FuturePaymentRule.EffectiveDate)
                    </td>
                    <td>
                         @Ajax.ActionLink("Edit", "EditPaymentRule",
                                new { id = Model.FuturePaymentRule.PaymentRuleId },
                                new AjaxOptions { UpdateTargetId = "result", InsertionMode = InsertionMode.Replace },
                                new { @class = "editLink" }
                                )
                    </td>
                </tr>
            }

            @using (Ajax.BeginForm(null))
            {
                if (Model.CurrentPaymentRule != null)
                {
                <tr class="success">
                  <td><span class="label label-success">Current</span></td>
                    <td class="Amount">
                        @Html.DisplayFor(modelItem => Model.CurrentPaymentRule.Amount)
                    </td>
                    <td class="EffectiveDate">
                        @Html.DisplayFor(modelItem => Model.CurrentPaymentRule.EffectiveDate)
                    </td>
                      <td>
                        @Ajax.ActionLink("Edit", "EditPaymentRule",
                                new { id = Model.CurrentPaymentRule.PaymentRuleId, current=true },
                                new AjaxOptions { UpdateTargetId = "result", InsertionMode = InsertionMode.Replace },
                                new { @class = "editLink" }
                                )
                     </td>
                </tr>
                }
            }
            @foreach (var payment in Model.OldPaymentRules)
            {
                <tr class="info row-transparent">
                    <td>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => payment.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => payment.EffectiveDate)
                    </td>
                    <td></td>
                </tr>
            }
        </table>
        </div>
        <div id="result"></div>
        </div>
    </div>

        <div id="dialogContainer" title="Update payment"></div>
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
}
<script type="text/javascript">
    var linkObj;
    $(function () {
        $("#dialogContainer").dialog({
            autoOpen:false,
            resizable: false,
            height: 'auto',
            modal: true,
            buttons: {
                "Update":
                    {
                        class: 'btn btn-primary',
                        click: function () {
                            $("#update-message").html('');
                            $("#updatePaymentRuleForm").submit();
                        },
                        html: 'Update'
                    },
                Cancel:
                    {
                        class: 'btn btn-primary',
                        click: function () {
                            $(this).dialog("close");
                        },
                        html: 'Cancel'
                    }
            }
        });
        $(".editLink").click(function () {
            linkObj = $(this);
            var dialogDiv = $("#dialogContainer");
            var viewUrl = linkObj.attr('href');
            $.get(viewUrl, function (data) {
                dialogDiv.html(data);
                $('.datepicker').datepicker();
                //validation
                var $form = $("#updateCarForm");
                //Unbind existing validation
                $form.unbind();
                $form.data("validatior", null);
                //check document for changes
                $.validator.unobtrusive.parse(document);
                //Readd validation with changes
                $form.validate();
                dialogDiv.dialog('open');
            });
            return false;
        });
    });
    function updateSuccess() {
        if ($("#update-message").html() == "True") {
            var parent = linkObj.closest("tr");
            parent.find(".Amount").html($("#Amount").val());
            parent.find(".EffectiveDate").html($("#EffectiveDate").val());
            $('#dialogContainer').dialog("close");
        }
        else {

        }
       
    }
</script>