@model SchoolApp.Models.PaymentProfile

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.PaymentProfileId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comments)
            @Html.ValidationMessageFor(model => model.Comments)
        </div>

        <p>
            <button type="submit" class="btn btn-primary"><i class="icon-save"></i> Save</button>
            <a href="@Url.Action("Index")" class="btn">Back to list</a>
        </p>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
