@model IEnumerable<SchoolApp.ViewModels.PaymentProfileEditViewModel>

@{
    ViewBag.Title = "Профили Оплаты";
}

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary"><i class="icon-plus"></i>Добавить профиль</a>
    
</p>
<div class="table-header">Список профилей оплаты</div>
<table class="table table-striped datatable">
    <thead>
        <th>
            @Html.DisplayNameFor(model => model.PaymentProfile.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentProfile.Comments)
        </th>
        <th>
            Price
        </th>
        <th></th>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentProfile.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentProfile.Comments)
        </td>
        <td>@Html.DisplayFor(modelItem=>item.CurrentPaymentRule.Amount).ToString()</td>
        <td>
			<a href="@Url.Action("Edit", new { id=item.PaymentProfile.PaymentProfileId })" rel="tooltip" data-toggle="tooltip" title="Edit record"><i class="icon-pencil"></i></a>
            <a href="@Url.Action("Details", new { id=item.PaymentProfile.PaymentProfileId })" rel="tooltip" data-toggle="tooltip" title="View details"><i class="icon-tasks"></i></a>
            <a href="@Url.Action("Delete", new { id=item.PaymentProfile.PaymentProfileId })" rel="tooltip" data-toggle="tooltip" title="Remove record"><i class="icon-remove"></i></a>
        </td>
    </tr>
}

</table>
<style type="text/css">
    @@font-face { font-family: "Rubl Sign"; src: url(http://www.artlebedev.ru/;-)/ruble.eot); }
    span.rur { font-family: "Rubl Sign"; text-transform: uppercase; // text-transform: none;}    
    span.rur span { position: absolute; overflow: hidden; width: .45em; height: 1em; margin: .1ex 0 0 -.55em; // display: none; }
    span.rur span:before { content: '\2013'; }
</style>